<%= form_for(@owned_item) do |f| %>
  <% if @owned_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owned_item.errors.count, "error") %> prohibited this owned_item from being saved:</h2>

      <ul>
      <% @owned_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :individual_id %><br />
    <%= f.select :individual_id, Individual.all.collect {|ind| [ind.firstname + " " + ind.lastname,ind.id]} %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.select :item_id, Item.all.collect {|item| [item.target_area.name + " " + item.name,item.id]} %>
  </div>  <div class="field">
    <%= f.label :stats %><br />
    <%= f.text_field :stats %>
  </div>
  <div class='checkbox'>
    <%= f.label :wearing %>
    <%= f.check_box :wearing %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
