<p id="notice"><%= notice %></p>
<h1>The Chest Opens to Reveal</h1>

<p>
  <b>Item:</b>
  <%= @owned_item.item.target_area.name %> - <%= @owned_item.item.name %>
</p>
<p>
<%= @owned_item.item.description %>
</p>
<%= link_to edit_owned_item_path(@owned_item) do %>
  <% avatari_svg do %>
    <%= render @owned_item.item %>
  <% end %>
<% end %>

