<h1>Welcome <%= @customer.firstname %> - Current Balance: <%= number_to_currency(@customer.account.balance) %></h1>
<h2><%= link_to "Back to the Shop", "/shop" %></h2>
<%= form_tag('/shop/open_chest') do %>
<input type='hidden' name='value' value='<%= params[:value] %>' />
<% if @customer.account.balance >= params[:value].to_f %>
  <input type='submit' name='open_chest' value="Open This Chest" />
<% else %>
  Insufficient Funds to Open This Chest
<% end %>
<% end %>
<h2>Possible Items for this <%= params[:value] %> rune chest</h2>
  <ul>
    <% @possible_items.each do |item| %> 
      <li style="display:inline-block">
        <strong><%= item.name %></strong>
        <p><%=item.description%></p>
        
        <%avatari_svg do%>
          <%= render item.avatar if item.avatar%>
          <%= render item if item.avatar %>
        <%end%>
      </li>
    <%end%>
  </ul>
