<h1>Welcome <%= @customer.firstname %></h1>
<div id='chests'>
  <h2>Open a Chest</h2>
  <ul>
    <% [2,4,8,16,32,64,128].each do |val|%>
      <li><%=render :partial => "chest", :locals => {:value => val} %></li>
    <% end %>
  </ul>
</div>
<h2>Possible Items</h2>
  <% @target_areas.each do |ta| %>
  <h2><%=ta.name%> - <%=ta.items.size%> </h2>

  <ul>
    <% ta.items.each do |item| %> 
      <li style="display:inline-block">
        <%avatari_svg do%>
          <%= render item.avatar if item.avatar%>
          <%= render item if item.avatar %>
        <%end%>
      </li>
    <%end%>
  </ul>
<%end%>