<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @avatar.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @avatar.gender %>
</p>

<p>
  <b>Value:</b>
  <%= @avatar.value %>
</p>

<p>
  <b>Svg:</b>
<% avatari_svg do
  <%= raw(@avatar.svg) %>
<% end %>
</p>


<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
