<h1>Listing target_areas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @target_areas.each do |target_area| %>
  <tr>
    <td><%= target_area.name %></td>
    <td><%= target_area.description %></td>
    <td><%= link_to 'Show', target_area %></td>
    <td><%= link_to 'Edit', edit_target_area_path(target_area) %></td>
    <td><%= link_to 'Destroy', target_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target area', new_target_area_path %>
