<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select :account_id, Account.all.collect {|account| [account.individual.firstname + " " + account.individual.lastname,account.id]} %>
  </div>
  <div class="field">
    <%= f.label :add_funds %><br />
    <%= f.text_field :add_funds %>
  </div>
  <div class="field">
    <%= f.label :remove_funds %><br />
    <%= f.text_field :remove_funds %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :stats %><br />
    <%= f.text_area :stats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
