<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Add funds</th>
    <th>Remove funds</th>
    <th>Notes</th>
    <th>Stats</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.account_id %></td>
    <td><%= transaction.add_funds %></td>
    <td><%= transaction.remove_funds %></td>
    <td><%= transaction.notes %></td>
    <td><%= transaction.stats %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
