<!DOCTYPE html>
<html>
<head>
  <title>Avatari</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://mbostock.github.com/d3/talk/20111018/d3/d3.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<div id='nav'>
  <%= link_to "Home", @current_user %>
</div>
<%= yield %>

</body>
</html>
